@use "../../../../assets/global";
@use "../../../../assets/mixin";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.Dif {
  width: 770px;
  min-height: 88px;
  background-color: #fff;
  //   border: 1px solid red;

  padding-left: 32px;
  padding-right: 32px;

  @include mixin.flex($justify: space-between);

  p {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    font-family: "Inter", sans-serif;
  }
  .Handle {
    width: 26px;
    height: 15px;
    border: none;
    background: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .Feed {
    width: 26px;
    height: 15px;
    border: none;
    background: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.ResponseDif {
  width: 770px;
  height: 220px;
  // border: 1px solid red;
  border-top: 1px solid gray;
  @include mixin.flex(
    $direction: column,
    $justify: space-evenly,
    $align: flex-start
  );
  background-color: #fff;
  padding-left: 17px;
  p {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
  button {
    width: 134px;
    height: 42px;
    background-color: #ff8a00;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    p {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }
}
